.Tab {
  padding: 10px 12px 17px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  overflow-y: none;
  height: 100%;
  position: relative;
  bottom: 1px;
}

@media (min-width: 500px) {
  .TabWithScrollBar {
    composes: Tab;
    top: 5px;
  }
}
