.Tab {
  padding: 0px 12px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  bottom: 2px;
  overflow-y: none;
  height: 100%;
}

@media (min-width: 500px) {
  .TabWithScrollBar {
    composes: Tab;
    top: 5px;
  }
}
