.review_form {
  background-color: inherit;
}

%label {
  font-size: 1rem;
  font-weight: 700;
}

.rate_meal_label {
  @extend %label;
  padding: 1rem 0 0.5rem;
}

.submit_form {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.comment_input_label {
  @extend %label;
  padding: 1rem 0 0.5rem;
}

.comment_input {
  width: 280px;
  font-family: Arial, Helvetica, sans-serif;
}

.comment_input:focus {
  border: 2px solid black;
  outline: none;
}

.button {
  margin: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: bold;
  background-color: #333333;
  color: white;
  padding: 5px 10px;
  border: 3px solid #333333;
  box-shadow: 0px 3px 1px -2px rgb(0, 0, 0.2), 0px 2px 2px 0px rgb(0, 0, 0.14),
    0px 1px 5px 0px rgb(0, 0, 0.12);
  width: 150px;
}

.button:hover {
  box-shadow: 0px 2px 4px -1px rgb(0, 0, 0.2), 0px 4px 5px 0px rgb(0, 0, 0.14),
    0px 1px 10px 0px rgb(0, 0, 0.12);
}

.button_less_padding {
  composes: button;
  padding: 5px 5px;
  margin: 20px 10px;
  width: auto;
}
