.Item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  cursor: pointer;
}

.Item:last-child {
  padding-bottom: 20px;
}

.Item_with_image {
  composes: Item;
  padding-bottom: 10px;
}

.Item_with_image:last-child {
  padding-bottom: 0;
}

.title {
  font-size: 14px;
  font-weight: bold;
  text-align: start;
  margin-bottom: 5px;
}

.description {
  font-size: 12px;
  text-align: start;
}

.img {
  height: 75px;
  width: 75px;
  margin-left: 20px;
  min-width: 75px;
}
