.Tabs {
  display: flex;
  align-items: center;
  margin-left: 40px;
  overflow-x: scroll;
}

// Hide scrollbar on chromium browsers.
.Tabs::-webkit-scrollbar {
  height: 0px;
}

.Tab {
  padding: 0 12px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
}
