.TabsWithScrollbar {
  display: flex;
  align-items: center;
  margin-left: 40px;
  overflow-x: scroll;
  position: relative;
  top: 6px;
}

.TabsWithoutScrollbar {
  composes: TabsWithScrollbar;
  overflow-x: hidden;
}
