.TabsWithScrollbar {
  display: flex;
  align-items: center;
  margin-left: 40px;
  overflow-x: scroll;
  position: relative;
  top: 16px;
}

@media (max-width: 499px) {
  .TabsWithScrollbar {
    top: 18px;
  }
}

.TabsWithoutScrollbar {
  composes: TabsWithScrollbar;
  overflow-x: hidden;
}
