.NavBarButtons {
  display: flex;
  align-items: center;
}

.resetButton {
  color: #9e9e9e;
  cursor: pointer;
}

.cancelButton {
  font-size: 10px;
  font-weight: bold;
  border-left: 0.5px solid #cccccc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
