.searchContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.searchIcon {
  cursor: pointer;
  background-color: white;
  padding-left: 15px;
  padding-top: 14px;
  position: fixed;
}

.searchIconWhenSearching {
  composes: searchIcon;
  padding-top: 4px;
  cursor: default;
}

.searchInput {
  border: none;
  background-color: inherit;
  padding-left: 50px;
  width: 100%;
}

.searchInput:focus {
  outline: none;
}
