.searchContainer {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
}

.searchIcon {
  cursor: pointer;
  background-color: white;
  padding: 10px 10px 10px 15px;
  z-index: 2;
  position: fixed;
}

.searchInput {
  border: none;
  background-color: inherit;
  padding-left: 7.5px;
  width: 100%;
}

.searchInput:focus {
  outline: none;
}
