.NavBar {
  border-bottom: 2.5px solid #e3e3e2;
  text-align: start;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
}

.NavBarWhenSearching {
  composes: NavBar;
  padding: 5px 0 7px;
}

@media (min-width: 500px) {
  .NavBar_when_searching {
    padding: 5px 0 7px;
  }

  .NavBarWithScrollBar {
    padding-bottom: 3px;
  }
}
